<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Colegio Remington | Noticias </title>
    <link rel="stylesheet" href="../Styles/Header.css">
    <link rel="icon" href="../Imagenes/Faviconn.png">
    <link rel="stylesheet" href="../Styles/Footer.css">
    <link rel="stylesheet" href="../Styles/Noticias.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
</head>
<body>
    
<header>

    <nav class="Espacios">
      <a href="../index.html"><img src= "../Imagenes/LOGO.png" alt="Logo">
      <a href="../index.html" > Inicio </a>
      <a href="Nosotros.html">Nosotros</a>
      <a href="Galeria.html">Galería</a>
      <a href="FormacionIntegral.html">Formación Integral</a>
      <a href="Calendario.html">Calendario</a>
      <a href="Noticias.html" class="active">Noticias</a>
      <a href="PropuestaEducativa.html">Propuesta Educativa</a>
      <a href="Contacto.html">Contacto</a>
    </nav>

</header>

<main>

    <section class="mission-container">
        <div class="carousel-wrapper">
            <div class="carousel-track" id="track">
                <img src="../Imagenes/Infomatrix/I1.jpeg" alt="Foto 1">
                <img src="../Imagenes/Infomatrix/I2.jpeg" alt="Foto 2">
                <img src="../Imagenes/Infomatrix/I3.jpeg" alt="Foto 3">
                <img src="../Imagenes/Infomatrix/I4.jpeg" alt="Foto 4">
                <img src="../Imagenes/Infomatrix/I5.jpeg" alt="Foto 5">
                <img src="../Imagenes/Infomatrix/I6.jpeg" alt="Foto 6">
                <img src="../Imagenes/Infomatrix/I7.jpeg" alt="Foto 7">
                <img src="../Imagenes/Infomatrix/I8.jpeg" alt="Foto 8">
                <img src="../Imagenes/Infomatrix/I9.jpeg" alt="Foto 9">
                <img src="../Imagenes/Infomatrix/I10.jpeg" alt="Foto 10">
                <img src="../Imagenes/Infomatrix/I11.jpeg" alt="Foto 11">
                <img src="../Imagenes/Infomatrix/I12.jpeg" alt="Foto 12">
                <img src="../Imagenes/Infomatrix/I13.jpeg" alt="Foto 13">
                <img src="../Imagenes/Infomatrix/I14.jpeg" alt="Foto 14">
                </div>
        </div>

        <div class="mission-text">
            <span class="subtitle">Noticias | Académico</span>
            <h1>Infomatrix 2026: Excelentes resultados de nuestros alumnos</h1>
            <p>¡Con gran orgullo compartimos los excelentes resultados de nuestros alumnos en Infomatrix, realizado del 5 al 7 de febrero!</p>
<p>El Colegio Remington estuvo dignamente representado y de 11 proyectos participantes logramos:
<p>4 Menciones Honoríficas</p>
<p>4 Medallas de Plata con pase a Infomatrix Nacional en la ciudad de Toluca</p>
<p>3 Medallas de Oro con pase a Infomatrix Iberoamericano en la ciudad de San Luis Potosí</p>
<p>Felicitamos a nuestros estudiantes y asesores por su dedicación, talento e innovación, que siguen poniendo en alto el nombre de nuestra comunidad educativa. ¡Vamos por más, Remington!
</p>
            
            <div class="feature">
                <span class="check">✓</span>
                <div>
                    <strong>Infomatrix 2026</strong>
                </div>
            </div>
        </div>
    </section>


    <section class="news-section">
        <div class="news-header">
            <div>
                <h2>Últimas Noticias</h2>
                <p>Mantente informado sobre lo que ocurre en nuestra comunidad.</p>
            </div>
        </div>

        <div class="news-grid">
            <article class="news-card">
                <div class="card-img" style="background-image: url('../Imagenes/Pastorela/15.jpeg');">
                    <span class="tag">Noticias | Artistica</span>
                </div>
                <div class="card-info">
                    <h3>Pastorela: “Una noche de fe y alegría”</h3>
                     <p>Vivimos una hermosa Gala Navideña llena de emoción y espíritu festivo, con la presentación de la pastorela “Una noche de fe y alegría”...</p>
                    <a href="Noticias.html">Leer más</a>
                </div>
            </article>

            <article class="news-card">
                <div class="card-img" style="background-image: url('../Imagenes/Virgen/N1.jpeg');">
                    <span class="tag">Noticias | Visita </span>
                </div>
                <div class="card-info">
                    <h3>Visita al Santuario de la Virgen de Guadalupe</h3>
                    <p>Para celebrar con gran alegría este 12 de diciembre, Día de la Virgen de Guadalupe, nuestros pequeños de Preescolar vivieron una hermosa experiencia al asistir al Santuario de la Virgen de Guadalupe para visitarla y presentarle sus oraciones.</p>
                    <a href="Noticias2.html">Leer más</a>
                </div>
            </article>

            <article class="news-card">
                <div class="card-img" style="background-image: url('../Imagenes/Noticia3.jpeg');">
                    <span class="tag">Noticias | Matemáticas</span>
                </div>
                <div class="card-info">
                    <h3>¡Orgullo que se multiplica!</h3>
                    <p>Después de superar 3 etapas llenas de esfuerzo, disciplina y pasión por el conocimiento, nuestros alumnos han logrado clasificar para representar a nuestro colegio...</p>
                    <a href="Noticias3.html">Leer más</a>
                </div>
            </article>
        </div>
    </section>

    <script src="../Js/Noticias.js"></script>
</main>



<footer>
  <div class="contenido">

    <div class="f-col">
        <div class =Principal>
        <img src="../Imagenes/Faviconn.png" alt="Logo">
        <h4>COLEGIO REMINGTON</h4>
        <p>
            Colegio Remington es una institución educativa comprometida con la excelencia académica y el desarrollo integral de nuestros estudiantes. 
            Fundada en 1990, nuestra misión es proporcionar un ambiente de aprendizaje estimulante y seguro donde los alumnos puedan alcanzar su máximo potencial.
        </p>
        </div>
    </div>

    <div class="f-col">
      <h4>Navegación</h4>
        <a href="../index.html">Inicio</a>
        <a href="Nosotros.html">Nosotros</a>
        <a href="Galeria.html">Galería</a>
        <a href="FormacionIntegral.html">Formación Integral</a>
        <a href="Calendario.html">Calendario</a>
        <a href="Noticias.html">Noticias</a>
        <a href="PropuestaEducativa.html">Propuesta Educativa</a>
        <a href="Contacto.html">Contacto</a>
    
    </div>

    <div class="f-col">
    <h4>INFORMACIÓN DE CONTACTO</h4>
    
    <div class="contacto">
        <i class="fas fa-map-marker-alt"></i>
        <span>Av. Óscar Pérez Escobosa 10, Real del Valle, 82124 Mazatlán, Sin.</span>
    </div>

    <div class="contacto">
        <i class="fas fa-phone-alt"></i>
        <span>+52 669 981 5077</span>
    </div>

    <div class="contacto">
        <i class="fas fa-envelope"></i>
        <span>oficinas.remington@gmail.com</span>
    </div>
</div>

    <div class="f-col connect">
      <h4>SIGUENOS EN NUESTRAS REDES SOCIALES</h4>
<div class="social">
    <div class="dock">
        <div class="icono">
            <a href="https://facebook.com/ColegioRemingtonAC" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        
        <div class="icono">
            <a href="https://www.instagram.com/colegioremington/" target="_blank" rel="noopener noreferrer">
                 <i class="fab fa-instagram"></i>
            </a>
        </div>
        
        <div class="icono">
            <a href="https://www.tiktok.com/@colegio.remington" target="_blank"rel="noopener noreferrer">
                <i class="fab fa-tiktok"></i>
            </a>
        </div>
        
        <div class="icono">
            <a href="https://www.youtube.com/@colegioremington3898" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
        
        <div class="icono">
            <a href="../index.html" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-chrome"></i>
            </a>
        </div>
    </div>
</div>
    </div>
    </div>
    </div>
    
</div>

</footer>

</body>
</html>